picture
    source(srcset="images/bck_tec_mobile.png" media="(max-width: 767px) and (orientation: portrait)")
    source(srcset="images/bck_tec_mobile.png" media="(max-width: 767px) and (orientation: landscape)")
    source(srcset="images/bck_tec.png" media="(min-width: 768px) and (max-width: 1000px)")
    source(srcset="images/bck_tec.png" media="(min-width: 1001px) and (max-width: 1440px)")
    source(srcset="images/bck_tec.png" media="(min-width: 1441px)")
    img(src="images/bck_tec.png").picture
.tecnologia__banner
    picture
        source(srcset="images/tec_01_mobile.png" media="(max-width: 767px) and (orientation: portrait)")
        source(srcset="images/tec_01_mobile.png" media="(max-width: 767px) and (orientation: landscape)")
        source(srcset="images/tec_01.png" media="(min-width: 768px) and (max-width: 1000px)")
        source(srcset="images/tec_01.png" media="(min-width: 1001px) and (max-width: 1440px)")
        source(srcset="images/tec_01.png" media="(min-width: 1441px)")
        img(src="images/tec_01.png").picture
    .tecnologia__banner_content
        .box 
            .box__title (Nuestra tecnología)
            .box__subtitle
                | Munay, cuenta con tecnología avanzada de alta calidad que permite traer al presente los conocimientos de nuestros antepasados, repotenciarlos y aplicarlos en pro al ecosistema y el medio ambiente. A través de sus seis fases, Munay logra un proceso eficaz de purificación, además de estabilizar los componentes y minerales básicos del agua para el beneficio de nuestros consumidores.”
    .tecnologia__banner_slider 
        .swiper.swiperTecnologia
            .swiperTecnologia__bck
                img(src="images/bck_slider_tec.png", alt="")
            .swiper-wrapper
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_01.png", alt="")
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_02.png", alt="")
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_03.png", alt="")
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_04.png", alt="")
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_05.png", alt="")
                .swiper-slide
                    .swiperTecnologia__box
                        .swiperTecnologia__box_image 
                            img(src="images/tec_slider_06.png", alt="")
            .swiper-button-next.arrowTecnologiaNext
            .swiper-button-prev.arrowTecnologiaPrev
            .swiper-pagination

    //- .tecnologia__banner_allrights
    //-     | 2021, Munay. All Rights Reserved.