.background
    picture
        source(srcset="images/bck_web_mobile.png" media="(max-width: 767px) and (orientation: portrait)")
        source(srcset="images/bck_web_mobile.png" media="(max-width: 767px) and (orientation: landscape)")
        source(srcset="images/bck_web_desktop.png" media="(min-width: 768px) and (max-width: 1000px)")
        source(srcset="images/bck_web_desktop.png" media="(min-width: 1001px) and (max-width: 1440px)")
        source(srcset="images/bck_web_desktop.png" media="(min-width: 1441px)")
        img(src="images/bck_web_desktop.png").picture