style.
    .medio_ambiente__banner {
        background-image: url('images/ma_01.png');
        
    }
    @media (max-width: 768px) {
        .medio_ambiente__banner {
            background-image: url('images/ma_01_mobile.png')
        }
    }
    }

.medio_ambiente__banner
    .medio_ambiente__banner_content
        .box 
            .box__title (Consciencia medioambiental)
            .box__subtitle
                | Estamos comprometidos a reducir la huella de carbono y crear valor para nuestros clientes del sector HORECA a través de nuestro servicio de agua sostenible, Munay. Gracias al el uso de nuestras botellas de vidrio reutilizable, contribuimos de manera directa evitando que decenas de miles de botellas de plástico y vidrio de un solo uso acaben en la basura todos los meses.
    //- .medio_ambiente__banner_allrights
    //-     | 2021, Munay. All Rights Reserved.