.medio_ambiente__section-01 
    .medio_ambiente__section-01_box
        .part-01 
            .part-01__text 
                | Nuestro objetivo es liderar el movimiento para eliminar las botellas de plástico y vidrio de un solo uso de la cadena de suministro del sector HORECA hacia un sector más sostenible. 
            .part-01__images
                img(src="images/ma_02.png", alt="")
                img(src="images/ma_03.png", alt="")
        .part-02 
            | "Por ende, debido al aporte en la reducción de emisión de plástico y vidrios que atentan contra el ecosistema, podemos disminuir y hacer frente los siguientes índices que alarman al mundo".
        .part-03
            .part-03__date 
                | (01/04)
            .part-03__text
                | Aproximadamente el 80% de todas las botellas de agua producidas terminan en vertederos.
            .part-03__images
                img(src="images/ma_04.png", alt="")
            .part-03__note
                | Chimbote, Perú - 18 de abril de 2018: La basura se lavó en la playa en el puerto de Chimbote en el norte de Perú
        .part-04
            .part-04__box
                .part-04__box_date
                    | (02/04)
                .part-04__box_text
                    | Las botellas de plástico en los vertederos pueden tardar hasta 1.000 años en descomponerse
                .part-04__box_images
                    img(src="images/ma_05.png", alt="")
                .part-04__box_note
                    | Máncora, Piura / Perú - 8 de octubre de 2018: Basura en la playa. Diferentes objetos. Ensuciando la costa del Perú.
            .part-04__box
                .part-04__box_date
                    | (03/04)
                .part-04__box_text
                    | Se necesita tres veces el volumen de agua para fabricar una botella de agua que para llenarla
                .part-04__box_images
                    img(src="images/ma_06.png", alt="")
                .part-04__box_note
                    | Onizu3d Industria de producción de botellas de agua potable.
        .part-05
            .part-05__box
                .part-05__box_date
                    | (04/04)
                .part-05__box_text
                    | Aproximadamente #[span 52.5 millones de litros de aceite se utilizaron en 2009-10 para producir el plástico] utilizado para envasar agua embotellada en Australia; esto ni siquiera considera la energía utilizada en el transporte y la refrigeración que el producto requiere.
                .part-05__box_images
                    img(src="images/ma_07.png", alt="")
                .part-05__box_note
                    | Fábrica de agua - Línea de embotellado de agua para la transformación y embotellado de agua de manantial pura en pequeñas botellas.

