// Font Path
// --------------------------
$font-path: 'fonts';
$version: 1.0;

@font-face {
    font-family: 'Myriad-pro';
    src:url("#{$font-path}/myriadpro-cond.eot?v=#{$version}");
    src:url("#{$font-path}/myriadpro-cond.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/myriadpro-cond.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/myriadpro-cond.woff?v=#{$version}") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-pro';
    src:url("#{$font-path}/myriadpro-boldcond.eot?v=#{$version}");
    src:url("#{$font-path}/myriadpro-boldcond.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/myriadpro-boldcond.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/myriadpro-boldcond.woff?v=#{$version}") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-pro';
    src:url("#{$font-path}/myriadpro-cond.eot?v=#{$version}");
    src:url("#{$font-path}/myriadpro-cond.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/myriadpro-cond.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/myriadpro-cond.woff?v=#{$version}") format("woff");
    font-weight: 300;
    font-style: 300;
}

@font-face {
    font-family: 'MonumentGrotesk-Regular';
    src:url("#{$font-path}/MonumentGrotesk-Regular.eot?v=#{$version}");
    src:url("#{$font-path}/MonumentGrotesk-Regular.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/MonumentGrotesk-Regular.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/MonumentGrotesk-Regular.woff?v=#{$version}") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentGrotesk-Semi-Mono';
    src:url("#{$font-path}/MonumentGrotesk-Semi-Mono.eot?v=#{$version}");
    src:url("#{$font-path}/MonumentGrotesk-Semi-Mono.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/MonumentGrotesk-Semi-Mono.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/MonumentGrotesk-Semi-Mono.woff?v=#{$version}") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentGrotesk-Bold';
    src:url("#{$font-path}/MonumentGrotesk-Bold.eot?v=#{$version}");
    src:url("#{$font-path}/MonumentGrotesk-Bold.eot?v=#{$version}#iefix") format("embedded-opentype"),
        url("#{$font-path}/MonumentGrotesk-Bold.ttf?v=#{$version}") format("truetype"),
        url("#{$font-path}/MonumentGrotesk-Bold.woff?v=#{$version}") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ACaslonPro-Regular';
    src:url("#{$font-path}/ACaslonPro-Regular.otf?v=#{$version}");
    src:url("#{$font-path}/ACaslonPro-Regular.otf?v=#{$version}") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ACaslonPro-Bold';
    src:url("#{$font-path}/ACaslonPro-Bold.otf?v=#{$version}");
    src:url("#{$font-path}/ACaslonPro-Bold.otf?v=#{$version}") format("truetype");
    font-weight: bold;
    font-style: normal;
}