.home__banner 
    .home__banner_box 
        .title ( Sobre nosotros )
        .subtitle
            | Somos una solución integral para que hoteles, restaurantes y cafeterías, sin tener que hacer una inversión inicial, puedan producir su propia agua de calidad, maximizar ganancias y  reducir su huella de carbono. Munay se inspira en la inteligencia ancestral y la tecnología pre-incaica en el tratamiento de aguas para su consumo y uso.
    //- .home__banner_allrights
    //-     | 2021, Munay. All Rights Reserved.