.home__section-01 
    .home__section-01_box
        .description
            .description__image
                img(src="images/sc1_01_v2.jpg", alt="")
            .description__text
                .description__title "El inicio de una idea que revolucionará el consumo de agua en el Perú".
                .description__subtitle
                    | Munay nace con el objetivo de brindar una solución inmediata, de calidad, que sea fácil de implementar y no requiera un esfuerzo económico por parte de los restaurantes para mejorar algunos aspectos fundamentales de la operación. Nos consideramos aliados estratégicos de nuestros clientes, siempre buscando su bienestar y crecimiento continuo.
        .description
            .description__text
                .description__title Munay (verb. mu-nay)
                .description__subtitle
                    | La palabra Munay es un concepto quechua cuyo significado es amor a la madre tierra y fuente de vida. A través de esta palabra rendimos tributo a nuestros ancestros que reconocieron la esencialidad de la tierra y el agua, permitiendo el desarrollo de tecnologías hidráulicas avanzadas. 