.home__section-02
    .home__section-02_box
        .description
            .description__image
                img(src="images/sc1_02.png", alt="")
            .description__text
                .description__title
                    | Una idea inspirada de construcciones peruanas
                .description__subtitle
                    | Aquel punto de partida permitió el estudio de dos hitos pre-incaicos famosos por sus sistemas hidráulicos: El canal de Cumbemayo en Cajamarca, cuya arquitectura cuneiforme permitió la creación de filtros naturales capaces de purificar el agua. El otro fue el centro de Tipón en Cusco, el cual permitió el abastecimiento y distribución de agua a gran parte del imperio inca. Por tanto, el entendimiento de ello nos permitió adaptar estos descubrimientos a nuestra tecnología.