.home__section-03
    .home__section-03_box
        .description
            .description__text
                .description__subtitle
                    | Es así como formamos el cambio a través de un sistema premium de purificación de agua peruana, garantizando su calidad y apoyando el cuidado del medio ambiente, a través del trabajo con negocios pequeños y grandes en todo el Perú.
            .description__image
                img(src="images/sc1_03.png", alt="")