.home__section-04
    .home__section-04_box
        .description
            .description__text
                .description__title "El agua purificada considerada como tendencia mundial en consumo sostenible y responsable".
                .description__subtitle
                    | La calidad del agua está garantizada gracias al uso de sistemas sofisticados de purificación de agua, los cuales están respaldados con certificaciones internacionales especializadas en agua. Este es una metodología de trabajo que ya es muy utilizada en Europa y Estados Unidos desde hace muchos años, que gracias a sus beneficios para los restaurante y el medio ambiente, se ha expandido a los demás continentes.