.clientes__banner
    .clientes__banner_content
        .box 
            .box__title (Nuestros clientes y afiliados)
            .box__subtitle
                | Trabajamos en pro a mantener la confianza de nuestros clientes y afiliados, por lo que nos comprometemos con cada uno de ellos, sus requisitos y necesidades. Munay ha logrado consolidarse con el pasar del tiempo y, actualmente, trabaja de la mano con diversos restaurantes, cafés, bares y hoteles peruanos de gran prestigio. Sin embargo, cabe resaltar que también somos una muy buena propuesta para cafeterías y restaurantes mas pequeños.
        .box
            .desktopFlex
                .uniq
                    .uniq__image
                        img(src="images/clientes_01.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_02.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_03.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_04.png", alt="")
            .mobile 
                img(src="images/grupo_cliente_mobile_01.png", alt="")
    //- .clientes__banner_allrights
    //-     | 2021, Munay. All Rights Reserved.