.clientes__section-03
    .clientes__section-03_content
        .title (Noticias)
        .notices 
            .notices__box
                .notices__box_address Meghan Dorman. Lima, Perú.
                .notices__box_title La sostenibilidad: nuestro pilar fundamental
                .notices__box_image 
                    img(src="images/notice_01.png", alt="")
                .notices__box_subtitle
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur non. Proin sollicitudin nibh lacus, vel euismod eros consectetur sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ex eu dolor vestibulum iaculis. Aliquam viverra et nunc id.
            .notices__box
                .notices__box_address Meghan Dorman. Lima, Perú.
                .notices__box_title La sostenibilidad: nuestro pilar fundamental
                .notices__box_image 
                    img(src="images/notice_01.png", alt="")
                .notices__box_subtitle
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur non. Proin sollicitudin nibh lacus, vel euismod eros consectetur sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ex eu dolor vestibulum iaculis. Aliquam viverra et nunc id.
            .notices__box
                .notices__box_address Meghan Dorman. Lima, Perú.
                .notices__box_title La sostenibilidad: nuestro pilar fundamental
                .notices__box_image 
                    img(src="images/notice_01.png", alt="")
                .notices__box_subtitle
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur non. Proin sollicitudin nibh lacus, vel euismod eros consectetur sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ex eu dolor vestibulum iaculis. Aliquam viverra et nunc id.
            .notices__box
                .notices__box_address Meghan Dorman. Lima, Perú.
                .notices__box_title La sostenibilidad: nuestro pilar fundamental
                .notices__box_image 
                    img(src="images/notice_01.png", alt="")
                .notices__box_subtitle
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur non. Proin sollicitudin nibh lacus, vel euismod eros consectetur sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis ex eu dolor vestibulum iaculis. Aliquam viverra et nunc id.