.clientes__section-02
    .clientes__section-02_content
        .resena
            .resena__title (Reseña)
            .swiper.swiperClientes
                .swiper-wrapper
                    .swiper-slide
                        .resena__slider
                            .resena__slider_image
                                img(src="images/resena_01.png", alt="")
                            .resena__slider_info 
                                | "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur".
                            .resena__slider_address
                                | Meghan Dorman. Lima, Perú.
                    .swiper-slide
                        .resena__slider
                            .resena__slider_image
                                img(src="images/resena_01.png", alt="")
                            .resena__slider_info 
                                | "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum aliquam sapien, et fermentum metus consectetur".
                            .resena__slider_address
                                | Meghan Dorman. Lima, Perú.
                .swiper-button-next.arrowClientesNext
                .swiper-button-prev.arrowClientesPrev