.clientes__section-01
    .clientes__section-01_content
        .desktopBlock
            .part-01
                .uniq
                    .uniq__image
                        img(src="images/clientes_05.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_06.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_07.png", alt="")
            .part-02
                .uniq
                    .uniq__image
                        img(src="images/clientes_08.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_09.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_10.png", alt="")
            .part-03
                .uniq
                    .uniq__image
                        img(src="images/clientes_11.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_12.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_13.png", alt="")
            .part-04
                .uniq
                    .uniq__image
                        img(src="images/clientes_14.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_15.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_16.png", alt="")
            .part-05
                .uniq
                    .uniq__image
                        img(src="images/clientes_17.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_18.png", alt="")
                .uniq
                    .uniq__image
                        img(src="images/clientes_19.png", alt="")
        .mobile 
            .part-02
                img(src="images/grupo_cliente_mobile_02.png", alt="")
            .part-03
                img(src="images/grupo_cliente_mobile_03.png", alt="")
            .part-04
                img(src="images/grupo_cliente_mobile_04.png", alt="")
            .part-05
                img(src="images/grupo_cliente_mobile_05.png", alt="")
            .part-05
                img(src="images/grupo_cliente_mobile_06.png", alt="")